<div class="register-container">
  <h5>Rejestracja</h5>
  <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit(registerForm.value)">
    <mat-form-field>
      <mat-label>Imię</mat-label>
      <mat-icon class="icon" matPrefix>person</mat-icon>
      <input matInput formControlName="name" placeholder="Name" />
      <mat-error>
        @if (this.registerForm.get('name')?.hasError('required')){
          Name is required.
        }
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nazwisko</mat-label>
      <mat-icon class="icon" matPrefix>person</mat-icon>
      <input matInput formControlName="surname" placeholder="Surname" />
      <mat-error>
        @if (this.registerForm.get('surname')?.hasError('required')){
          Surname is required.
        }
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data urodzenia</mat-label>
      <mat-icon class="icon" matPrefix>calendar_today</mat-icon>
      <input matInput formControlName="birthDay" type="date" placeholder="Birth Day" />
      <mat-error>
        @if (this.registerForm.get('birthDay')?.hasError('required')){
          Birth Day is required.
        }
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <mat-icon class="icon" matPrefix>email</mat-icon>
      <input matInput formControlName="email" type="email" placeholder="Email" />
      <mat-error>
        @if (this.registerForm.get('email')?.hasError('required')){
          Email is required.
        }
        @if (this.registerForm.get('email')?.hasError('email')){
          Enter a valid email address.
        }
      </mat-error>
    </mat-form-field>
    <mat-form-field class="password">
      <mat-label>Hasło</mat-label>
      <mat-icon class="icon" matPrefix>lock</mat-icon>
      <input
            [type]="hidePassword ? 'password' : 'text'"
            matInput
            formControlName="password"
            placeholder="Password" />
      <mat-hint>Przykładowe hasło: Password1</mat-hint>
      <button
        matSuffix
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>
          {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>
      <mat-error>
        @if (this.registerForm.get('password')?.hasError('required')){
          Password is required.
        }
        @else if (this.registerForm.get('password')?.hasError('invalidPassword')){
          Password must be at least 7 characters long, contain at least one uppercase
          letter, one lowercase letter, one digit, and one special character.
        }
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Powtórz hasło</mat-label>
      <mat-icon class="icon" matPrefix>lock</mat-icon>
      <input
            [type]="hideConfirmPassword ? 'password' : 'text'"
            matInput
            formControlName="confirmPassword"
            placeholder="Confirm Password" />
      <button
        matSuffix
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon>
          {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>
      <mat-error>
        @if (this.registerForm.get('confirmPassword')?.hasError('required')){
          Confirm Password is required.
        }
        @else if (this.registerForm?.errors?.['passwordMismatch'] && this.registerForm.get('confirmPassword')?.touched){
          Passwords must match.
        }
      </mat-error>
    </mat-form-field>
    <div class="register-form-options">
      <button type="submit" mat-flat-button [disabled]="registerForm.invalid">Zarejestruj</button>
    </div>
  </form>
  <p>
    Masz konto?
    <a class="link-primary" (click)="goLoginPage()">Zaloguj się</a>
  </p>
</div>
