.inputStyle,
mat-select {
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 30px;
  padding: 0;
  color: white;
}

.form-group {
  margin-top: 3px;
  .icon{
    margin-right: 10px;
  }
 }
mat-form-field {
  width: -moz-available;
  margin-bottom: 30px;
}

mat-error {
  color: rgb(238, 0, 0) !important;
  margin-bottom: 4px;
}