/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-simple-snack-bar{
    background: rgb(0, 94, 0) !important;
    border-radius: 5px;
    &.mat-mdc-snack-bar-container {
      margin: 0 !important;
    }
  }
  