.admin-panel {
    padding: 20px;
}

.inactive-user {
    color: rgb(189, 44, 44);
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.removeCategory{
    display: flex;
    justify-content: space-between;
}

.removeBtn{
    margin-bottom: 30px;
}