
<div class="container">
  <p>Testowy login : example12&#64;test.com</p>
<p>Testowe hasło : Password1</p>
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
      <div class="login-wrap p-4 p-md-5">
        <div class="d-flex">
          <div class="w-100">
            <h3 class="mb-4">Logowanie</h3>
          </div>
        </div>
        <form [formGroup]="userForm" class="login-form">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <div class="inputStyle">
                <mat-icon class="icon" matPrefix>person</mat-icon>
                <input  matInput formControlName="email" placeholder="Email" />
              </div>
              
             
              <mat-error>
                @if (this.userForm.get('email')?.hasError('required')) {
                Email jest wymagane
                } @if(this.userForm.get('email')?.hasError('email')) {
                Wprowadź prawidłowy adres email, np. jan.kowalski&#64;email.pl.
                }
                @if(this.userForm.get('email')?.hasError('serverErrorEmail')) {
                {{ this.userForm.get("email")?.getError("serverErrorEmail") }}
                }
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <div class="inputStyle">
                <mat-icon  class="icon" matPrefix>lock</mat-icon>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" placeholder="Hasło" />
                <button matSuffix type="button" mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>
                    {{ hide ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
              </div>
              <mat-error>
                @if ( this.userForm.get('password')?.hasError('required')) {
                Hasło jest wymagane.
                }
                @if(this.userForm.get('password')?.hasError('serverErrorPass')){
                {{ this.userForm.get("password")?.getError("serverErrorPass") }}
                }
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group d-flex align-items-center">
            <div class="w-100">
              <label class="checkbox-wrap checkbox-primary mb-0">Zapamiętaj mnie
                <mat-checkbox [checked]="rememberMe" (change)="onChangeRememberMe()">
                  
                </mat-checkbox>
              </label>
            </div>
            <div class="w-100 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary rounded submit" (click)="onSubmit(userForm.value)">
                Zaloguj
              </button>
            </div>
          
          </div>
          <div class="form-group mt-4">
            <div class="w-100 text-center">
              <p  class="mb-1">Nie masz konta ? <a class="link-primary" (click)="goRegisterPage()">Zarejestruj się</a></p>
            
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<button mat-button (click)="goToMainPage()">Testowy - Powrót do strony głównej</button>