<mat-list>
  @for (savingGoal of savingGoalsData$ | async; track savingGoal) {
    <mat-list-item>
      <div matListItemTitle>
        <span>{{ 'SAVING_GOAL.TABLE.TITLE' | translate }} {{ savingGoal.targetTitle }}</span>
        <span>{{ savingGoal.currentAmount }}/{{ savingGoal.targetAmount }}</span>
        <span
          >{{ 'SAVING_GOAL.TABLE.TARGET_DATE' | translate }}
          {{ savingGoal.targetDate | date }}</span
        >
      </div>
      <div class="lower-line">
        <span *ngIf="savingGoal.cyclicalPaymentAmount">
          <span
            >{{ 'SAVING_GOAL.TABLE.CYCLICAL_PAYMENT' | translate }}
            {{ savingGoal.cyclicalPaymentAmount }}</span
          >
          <span
            >{{ 'SAVING_GOAL.TABLE.OCCURS' | translate }}
            {{ intervalService.getInterval(savingGoal.cyclicalPaymentCron) }}</span
          >
        </span>
        <span *ngIf="savingGoal.description">{{ savingGoal.description }}</span>
      </div>
    </mat-list-item>
  }
</mat-list>
