@import '../../../variables';

.reasons {
  width: 100%;
  display: grid;
  place-items: center;
  background: image-set('./assets/imgs/saving.webp' 1x), rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;

  &__goal {
    color: $reverted_text;
    text-align: center;
    padding: 48px 32px;
    font-weight: 400;
  }
}

.features {
  width: 100%;
  background: image-set('./assets/imgs/features.jpg' 1x), rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $reverted_text;
  padding: 48px 24px;
  &__split-line {
    height: 1px;
    background: $grey;
    margin: 0;
  }
}

.ui {
  &__header {
    background: rgba($navy, 0.9);
    padding: 4px 24px;
    margin: 0;
    color: $reverted_text;
  }
}
